.father {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 50vh;
}

.children {
  background: peru;
  color: white;
  width: 100px;
  height: 100px;
  margin-bottom: 2px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children:nth-child(2) {
  background-color: black;
  flex-shrink: 2;
}
