.father {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 250px 250px 250px;
  column-gap: 15px;
  height: 50vh;
}

.children {
  background: peru;
  color: white;
  margin-bottom: 2px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
